:root{
    --primary-color:#000;
    --white-color:#fff;
}

*{
    box-sizing:inherit;
    padding:0;
    margin:0;
}
html{
    font-family: 'Roboto', sans-serif;
    font-size:62.5%;
    line-height:1.6rem;
    box-sizing:border-box;
    scroll-behavior:smooth;
}
.main{
    overflow:hidden;
}

/* Responsive
.grid{
    width:1200px;
    max-width:100%;
    margin: 0 auto;
}

/* common selection */
.common-section{
    padding-top:64px;
    text-align:center;
}
.common-selection__heading{
    font-size:3rem;
    font-weight:400;
    letter-spacing:4px;
}
.common-selection__heading-sub{
    margin-top:24px;
    font-size:1.5rem;
    font-style:italic;
    opacity:0.6;
}

/* Button */
.btn{
    display:inline-block;
    min-width:72px;
    margin-top:16px;
    padding:14px;
    background-color:var(--primary-color);
    font-size:1.4rem;
    text-align:center;
    text-decoration:none;
    color:var(--white-color);
}
.btn:hover{
    background-color:#ccc;
    color:#000;
}
/* modal */
.modal{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    background-color:rgba(0,0,0,0.4);
    display:flex;
    align-items:center;
    justify-content:center;
    display:none;
}

.modal-container{
    width:904px;
    min-height:200px;
    background-color:var(--white-color);
    position:relative;
}

.modal-close{
    position:absolute;
    font-size:2rem;
    top:0;
    right:0;
    padding:12px;
    color:#fff;
}
.modal-close:hover{
    cursor:pointer;
    opacity:0.8;
}
.modal-header{
    height:130px;
    font-size:3rem;
    color:#fff;
    background-color:#009688;
    display:flex;
    justify-content: center;
    align-items:center;
}
.modal-header__icon{
    margin-right:18px;
}
.modal-body{
 display:flex;
 flex-direction:column;
 padding:16px;
}
.modal-label{
    font-size:1.5rem;
    margin-bottom:10px;
}
.modal-input{
    border:1px solid #ccc;
    font-size:1.5rem;
    padding:10px;
    margin-bottom:20px;
}

.modal-btn{
    font-size:1.5rem;
    outline:none;
    border:none;
    background-color:#009688;
    color:#fff;
    padding:16px 0;
}
.modal-btn:hover{
    cursor:pointer;
    opacity:0.8;
}
.modal-help{
    font-size:1.5rem;
    display:flex;
    justify-content:flex-end;
    margin-top:20px;
}

.modal-help__link{
    color:#4aa9f5;
    margin-left:4px;
}
